SITE_URL=https://marchen.dev
SITE_LAUNCH_DATE=
KB_API_URL=
KB_API_KEY=
KB_DATASET_ID=
AUTH_SECRET=
PRIVATE_COOKIE_KEY=marchen_private
PRIVATE_COOKIE_VALUE=marchen_orz
GITHUB_TOKEN=
GITHUB_OWNER=marchen-orz
GITHUB_REPO=
GITHUB_BRANCH=main
